<!-- ###TEMPLATE_FORM1### -->
###master_multipart-form-start_estate-search###

	###master_section-start_section-label###
		###master_input_input###
		###master_inputtime_inputtime###
		###master_inputdate_inputdate###

		###master_textarea_textarea###
		###master_checkbox_checkbox###
	###master_section-end###

	###master_section-start_section-subject###
		###master_advanced_subject###
		###master_input_location###
	###master_section-end###
		
	###master_section-two-column-start_section-size###
		###master_input_sizefrom###
		###master_input_sizeto###
	###master_section-end###

	###master_section-start_section-notice###
		###master_textarea_notice###
	###master_section-end###

	###master_section-start_section-copy###
		###master_checkbox_receivecopy###
	###master_section-end###

	###master_section-start_section-buttons###
		###master_submit###
	###master_section-end###

###master_form-end###
<!-- ###TEMPLATE_FORM1### -->
