<!-- ###TEMPLATE_EMAIL_ADMIN_PLAIN### -->
###master_email-admin-start-plain###
###master_email-line-plain_firstname###
###master_email-line-plain_lastname###
###master_email-line-plain_streetandno###
###master_email-line-plain_postalcode###
###master_email-line-plain_city###
###master_email-line-plain_phone###
###master_email-line-plain_email###
###master_email-line-plain_subject###
###master_email-line-plain_location###
###master_email-line-plain_sizefrom###
###master_email-line-plain_sizeto###
###master_email-line-plain_notice###
###master_email-admin-end-plain###
<!-- ###TEMPLATE_EMAIL_ADMIN_PLAIN### -->

<!-- ###TEMPLATE_EMAIL_ADMIN_HTML### -->
###master_email-admin-start-html###
###master_email-line-html_firstname###
###master_email-line-html_lastname###
###master_email-line-html_streetandno###
###master_email-line-html_postalcode###
###master_email-line-html_city###
###master_email-line-html_phone###
###master_email-line-html_email###
###master_email-line-html_subject###
###master_email-line-html_location###
###master_email-line-html_sizefrom###
###master_email-line-html_sizeto###
###master_email-line-html_notice###
###master_email-admin-end-html###
<!-- ###TEMPLATE_EMAIL_ADMIN_HTML### -->
