<!-- ###TEMPLATE_FORM1### -->
###master_multipart-form-start_estate-search###

	###master_section-start_section-personaldata###
		###master_input_firstname###
		###master_input_lastname###
		###master_input_streetandno###
		###master_input_postalcode###
		###master_input_city###
		###master_input_phone###
		###master_input_email###
	###master_section-end###

	###master_section-start_section-subject###
		###master_advanced_subject###
		###master_input_location###
	###master_section-end###
		
	###master_section-two-column-start_section-size###
		###master_input_sizefrom###
		###master_input_sizeto###
	###master_section-end###

	###master_section-start_section-notice###
		###master_textarea_notice###
	###master_section-end###

	###master_section-start_section-copy###
		###master_checkbox_receivecopy###
	###master_section-end###

	###master_section-start_section-buttons###
		###master_submit###
	###master_section-end###

###master_form-end###
<!-- ###TEMPLATE_FORM1### -->
